@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.menu__command {
  border-radius: 25px 25px 25px 25px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: shrikhand, impact, Arial, Helvetica, sans-serif;
}

h2,
h3,
p {
  font-family: roboto, impact, Helvetica, sans-serif;
}

header .menulink .fa-arrow-left {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 150%;
}
header .menulink__ohmyfood {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  padding-top: 20px;
}
header .menulink__img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-top: 20px;
}
header .title__adress {
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  padding-bottom: 5%;
  text-align: center;
  line-height: 4.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  box-shadow: inset 0em 5px 20px #cfcfcf;
}
header .title__adress .fa-location-dot {
  margin-right: 20px;
}

.menu {
  position: relative;
  bottom: 60px;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0px 0px;
}
.menu h1 {
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.menu .fa-heart {
  position: sticky;
  left: 150%;
}
.menu b {
  position: sticky;
  left: 85px;
}
.menu__starter h2 {
  width: 50px;
  padding-bottom: 5px;
  border-bottom: 4px #99E2D0 solid;
  font-weight: normal;
}
.menu__starter .menu__choice {
  background-color: #fff;
  border: 1px #f6f6f6 solid;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 5px lightgray;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 0.5rem;
  font-size: 1.2rem;
  width: 440px;
  height: 65px;
}
.menu__starter .menu__choice .menu__description {
  position: relative;
  bottom: 5px;
  display: inline-block;
  width: 360px;
  white-space: nowrap;
  line-height: 1.1rem;
}
.menu__starter .menu__choice .fa-circle-check {
  position: relative;
  left: 80%;
  bottom: 100px;
  background-color: #99E2D0;
  width: 0px;
  height: 135%;
  text-align: center;
  line-height: 90px;
  border-radius: 0px 20px 20px 0px;
  font-size: 2rem;
  color: #fff;
  transition: width 0.4s;
  animation-direction: reverse;
}
.menu__starter .menu__choice:active .fa-circle-check {
  width: 90px;
}
.menu__starter .menu__choice:active .menu__description {
  width: 70%;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__starter .menu__choice:hover {
  transition-duration: 300ms;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.menu__starter .menu__choice:not(:hover) {
  transition-duration: 300ms;
  -webkit-transform: scale(1); /* Safari and Chrome */
  -moz-transform: scale(1); /* Firefox */
  -ms-transform: scale(1); /* IE 9 */
  -o-transform: scale(1); /* Opera */
  transform: scale(1);
}
.menu__main h2 {
  width: 50px;
  padding-bottom: 5px;
  border-bottom: 4px #99E2D0 solid;
  font-weight: normal;
}
.menu__main .menu__choice {
  background-color: #fff;
  border: 1px #f6f6f6 solid;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 5px lightgray;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 0.5rem;
  font-size: 1.2rem;
  width: 440px;
  height: 65px;
}
.menu__main .menu__choice .menu__description {
  position: relative;
  bottom: 5px;
  display: inline-block;
  width: 360px;
  white-space: nowrap;
  line-height: 1.1rem;
}
.menu__main .menu__choice .fa-circle-check {
  position: relative;
  left: 80%;
  bottom: 100px;
  background-color: #99E2D0;
  width: 0px;
  height: 135%;
  text-align: center;
  line-height: 90px;
  border-radius: 0px 20px 20px 0px;
  font-size: 2rem;
  color: #fff;
  transition: width 0.4s;
  animation-direction: reverse;
}
.menu__main .menu__choice:active .fa-circle-check {
  width: 90px;
}
.menu__main .menu__choice:active .menu__description {
  width: 70%;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__main .menu__choice:hover {
  transition-duration: 300ms;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.menu__main .menu__choice:not(:hover) {
  transition-duration: 300ms;
  -webkit-transform: scale(1); /* Safari and Chrome */
  -moz-transform: scale(1); /* Firefox */
  -ms-transform: scale(1); /* IE 9 */
  -o-transform: scale(1); /* Opera */
  transform: scale(1);
}
.menu__dessert h2 {
  width: 50px;
  padding-bottom: 5px;
  border-bottom: 4px #99E2D0 solid;
  font-weight: normal;
}
.menu__dessert .menu__choice {
  background-color: #fff;
  border: 1px #f6f6f6 solid;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 5px lightgray;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 0.5rem;
  font-size: 1.2rem;
  width: 440px;
  height: 65px;
}
.menu__dessert .menu__choice .menu__description {
  position: relative;
  bottom: 5px;
  display: inline-block;
  width: 360px;
  white-space: nowrap;
  line-height: 1.1rem;
}
.menu__dessert .menu__choice .fa-circle-check {
  position: relative;
  left: 80%;
  bottom: 100px;
  background-color: #99E2D0;
  width: 0px;
  height: 135%;
  text-align: center;
  line-height: 90px;
  border-radius: 0px 20px 20px 0px;
  font-size: 2rem;
  color: #fff;
  transition: width 0.4s;
  animation-direction: reverse;
}
.menu__dessert .menu__choice:active .fa-circle-check {
  width: 90px;
}
.menu__dessert .menu__choice:active .menu__description {
  width: 70%;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__dessert .menu__choice:hover {
  transition-duration: 300ms;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.menu__dessert .menu__choice:not(:hover) {
  transition-duration: 300ms;
  -webkit-transform: scale(1); /* Safari and Chrome */
  -moz-transform: scale(1); /* Firefox */
  -ms-transform: scale(1); /* IE 9 */
  -o-transform: scale(1); /* Opera */
  transform: scale(1);
}
.menu__command {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: 250px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  border: none;
  border-radius: 35px 35px 35px 35px;
  font-size: 1.2rem;
  font-family: roboto, impact, Helvetica, sans-serif;
}
.menu__command:hover {
  filter: brightness(115%);
  transition-duration: 300ms;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.menu__command:not(:hover) {
  transition-duration: 300ms;
  -webkit-transform: scale(1); /* Safari and Chrome */
  -moz-transform: scale(1); /* Firefox */
  -ms-transform: scale(1); /* IE 9 */
  -o-transform: scale(1); /* Opera */
  transform: scale(1);
}

.discover {
  background-color: #f6f6f6;
  text-align: center;
  padding: 5%;
  padding-bottom: 20%;
}
.discover__title {
  font-size: 2rem;
}
.discover__description {
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: normal;
  font-size: 1.5rem;
}
.discover__btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: 250px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  border: none;
  border-radius: 35px 35px 35px 35px;
  font-size: 1.2rem;
  font-family: roboto, impact, Helvetica, sans-serif;
  font-size: 1.2rem;
}
.discover__btn:hover {
  filter: brightness(115%);
  transition-duration: 300ms;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.discover__btn:not(:hover) {
  transition-duration: 300ms;
  -webkit-transform: scale(1); /* Safari and Chrome */
  -moz-transform: scale(1); /* Firefox */
  -ms-transform: scale(1); /* IE 9 */
  -o-transform: scale(1); /* Opera */
  transform: scale(1);
}

.utilisation {
  padding: 5%;
  padding-top: 2%;
}
.utilisation .exploration__card {
  background-color: #fff;
  border: 1px #f6f6f6 solid;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 5px lightgray;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 0.5rem;
  font-size: 1.2rem;
  width: 440px;
  height: 65px;
  background-color: #f6f6f6;
}
.utilisation .exploration__card .menu__description {
  position: relative;
  bottom: 5px;
  display: inline-block;
  width: 360px;
  white-space: nowrap;
  line-height: 1.1rem;
}
.utilisation .exploration__card .fa-circle-check {
  position: relative;
  left: 80%;
  bottom: 100px;
  background-color: #99E2D0;
  width: 0px;
  height: 135%;
  text-align: center;
  line-height: 90px;
  border-radius: 0px 20px 20px 0px;
  font-size: 2rem;
  color: #fff;
  transition: width 0.4s;
  animation-direction: reverse;
}
.utilisation .exploration__card:active .fa-circle-check {
  width: 90px;
}
.utilisation .exploration__card:active .menu__description {
  width: 70%;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.utilisation .exploration__card__list {
  font-family: roboto;
  font-size: 1.1rem;
  font-weight: normal;
  position: relative;
  right: 30px;
  color: #fff;
  background-color: #9356DC;
  border-radius: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.utilisation .exploration__card:hover {
  transition-duration: 300ms;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #f5edff;
  color: #9356DC;
}
.utilisation .exploration__card:hover .card__text {
  color: black;
}
.utilisation .exploration__card:not(:hover) {
  transition-duration: 300ms;
  -webkit-transform: scale(1); /* Safari and Chrome */
  -moz-transform: scale(1); /* Firefox */
  -ms-transform: scale(1); /* IE 9 */
  -o-transform: scale(1); /* Opera */
  transform: scale(1);
}
.utilisation .exploration i {
  margin-left: 5%;
  margin-right: 5%;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 5%;
  padding-top: 2%;
}
.restaurant .restaurant-bloc__card {
  height: 300px;
  background-color: #fff;
  border-radius: 25px 25px 25px 25px;
  margin-bottom: 20px;
  line-height: 0.5rem;
  font-size: 1.2rem;
  box-shadow: 0px 5px 15px #cfcfcf;
}
.restaurant .restaurant-bloc__card:hover {
  box-shadow: 0px 10px 25px #cfcfcf;
  transition-duration: 300ms;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.restaurant .restaurant-bloc__card:not(:hover) {
  transition-duration: 300ms;
  -webkit-transform: scale(1); /* Safari and Chrome */
  -moz-transform: scale(1); /* Firefox */
  -ms-transform: scale(1); /* IE 9 */
  -o-transform: scale(1); /* Opera */
  transform: scale(1);
}
.restaurant .restaurant-bloc__card .card__link {
  text-decoration: none;
  color: black;
}
.restaurant .restaurant-bloc__card .card__link .card__link--new {
  position: sticky;
  bottom: 200%;
  left: 70%;
  width: 100px;
  height: 30px;
  line-height: 2rem;
  text-align: center;
  color: green;
  background-color: #99E2D0;
}
.restaurant .restaurant-bloc__card .card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}
.restaurant .restaurant-bloc__card .card__text {
  margin-left: 20px;
}
.restaurant .restaurant-bloc__card .card__text--new {
  position: relative;
  bottom: 50px;
  margin-left: 20px;
}
.restaurant .restaurant-bloc__card .fa-heart {
  font-size: 1.9rem;
  position: relative;
  left: 85%;
  bottom: 65px;
}
.restaurant .restaurant-bloc__card .fa-heart:active {
  color: #9356DC;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FF79DA;
}

.bottom {
  background-color: #353535;
  padding: 5%;
  padding-top: 7%;
  color: white;
  line-height: 0.8rem;
}
.bottom .bottom__ohmyfood {
  width: 30%;
  filter: invert(100%);
}
.bottom .fa-utensils {
  font-size: 1rem;
  margin-right: 15px;
}
.bottom .fa-handshake-angle {
  font-size: 0.8rem;
  margin-right: 12px;
}

/*# sourceMappingURL=style.css.map */
