.footer {
    background-color: rgb(53, 53, 53);
    padding: 25px 0 35px 20px;
    h4 {
        color: $background;
        font-family: $font-title;
        margin-bottom: 20px;
        font-size: 19px;
    }

    ul {
        font-family: $font-txt;
    }
    li {
        margin-top: 8px;
    }
    a {
        color: $background;
        transition: color 0.8s;
        &:hover{
            color: $secondary;
        }
    }
    .fas {
        font-size: 12px;
        margin-right: 4px;
    }
    .fa-utensils {
        margin-right: 8px;
    }
}
@media screen and (min-width:425px) {
    .footer{
    @include column_center;
    text-align:center;
    }
}