button {
    background: none;
    border: none;
    box-shadow: 0 5px 10px rgb(192, 192, 192);
  
    &:hover,
    &:active {
        box-shadow: none;
        cursor: pointer;
    }
}

.return:hover {
    color: $secondary;
}

.coeur {
    font-size: 25px;
    margin-top: 5px;
    color: $background;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
}
.coeur:hover {
    cursor: pointer;
    background: linear-gradient(to bottom left,$primary,$secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0;
}