
@import "variables";


@mixin menu-block {
    background-color: #fff;
    border: 1px $font-color solid;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 5px lightgray;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 0.5rem;
    font-size: 100%;
    white-space: nowrap;
    //text-overflow: ellipsis;
    overflow: hidden;
    -moz-overflow: hidden;
    width: 80%;
    height: 65px;
    //Animation
    animation-name: menu-scale;
    transform: scaleX(1);
    animation-duration: 700ms;
    animation-fill-mode: both;
    @keyframes menu-scale {
        0%{ transform: scale(0);}
        60%{transform: scale(1.1);}
        90%{transform: scale(0.9);}
        100%{ transform: scale(1);}
    }

    & .menu__description {
        position: relative;
        bottom: 5px;
        display: inline-block;
        width: 85%;
        min-width: 65%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.1rem;
        transition: all  .4s;
        @media (min-width: map-get($breakpoints, desktop)) {
            min-width: 50%;
        }
        @media (max-width: map-get($breakpoints-1, little-mobile)) {
            min-width: 50%;
        }
    }
    & p {
        display: flex;
        text-overflow: ellipsis;
    }
    & h3 {
        text-overflow: ellipsis;
        
    }

    .box-fa-circle-check {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 100%;
        bottom: 90px;
        background-color: $third-color;
        width: 70px;
        height: 135%;
        text-align: center; 
        line-height: 90px;
        border-radius: 0px 20px 20px 0px;
        font-size: 2rem;
        color: #fff;
        -moz-transition: all  .4s ;
        transition: all  .4s;
        animation-direction: reverse;
    }
    .fa-circle-check {
        transform: rotate(0deg);
        transition-duration: 400ms;

    }
    &:focus .box-fa-circle-check {
        opacity: 1;
        transform: translate(-69px);
    }
    &:focus .fa-circle-check {
        transform: rotate(360deg);
    }
    &:focus .menu__description {
        width: 63%;
       flex-wrap: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
    }

}

@mixin btn-command {
    background: linear-gradient(to bottom right, $secondary-color, $primary-color);
    width: 250px;
    height: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    border: none;
    border-radius: 35px 35px 35px 35px;
    box-shadow: 0px 5px 5px #c5c5c5;
    font-size: 1.2rem;
    font-family: roboto, impact, Helvetica, sans-serif;
    text-decoration: none;
    &:hover {
        filter: brightness(115%);
        cursor: grab;
        @include hover-zoom;
    }
    &:not(:hover) {
        @include over-dezoom;
    }
}

@mixin number-list {
    font-family: roboto;
    font-size: 1.1rem;
    font-weight: normal;
    position: relative;
    right: 30px;
    color: #fff;
    background-color: $primary-color;
    border-radius: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@mixin card-new {
    position:sticky;
    bottom: 200%;
    left:68%;
    width: 100px;
    height: 35px;
    font-size: 0.8em;
    line-height: 2.2rem;
    letter-spacing: 1px;
    text-align: center;
    color: green;
    background-color: $third-color;
    @media (min-width: map-get($breakpoints-2, min-tablet)) {
        left: 100%;
    }
}

@mixin menu-border {
    width: 50px;
    padding-bottom: 5px;
    border-bottom: 4px $third-color solid;  
    font-weight: normal;  
}
@mixin hover-zoom {
    transition-duration: 300ms;
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}

@mixin over-dezoom {
    transition-duration: 300ms;
    -webkit-transform:scale(1); /* Safari and Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
    -o-transform:scale(1); /* Opera */
    transform:scale(1);
}

//Les mixins pour responsive media-query

@mixin desktop-header {
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    .title {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        padding-bottom: 2%;
        padding-top: 2%;
        i {
            margin-top: 2%;
        }
    }
    .title__adress {
        grid-row-start: 1;
        grid-column-start: 4;
        padding-bottom: 0px;
        padding-top: 10%;
        background-color: #fff;
        box-shadow: none;
    }
    .discover {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 5;
        padding-bottom: 0.5%;
        padding-top: 0.5%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;
        .discover__title {
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 3;
            text-align: left;
            line-height: 0%;
        }
        .discover__description {
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 3;
            text-align: left;
        }
        .discover__btn {
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 3;
            grid-column-end: 3;
        }
    }
    
}

@mixin desktop-exploration {
    display: grid;
        grid-template-columns:300px 300px 300px; 
        justify-content: space-around;
        & .exploration__card {
            height: 150px;
            & .exploration__card__list {
                position: relative;
                bottom: 40px;
                left: 100px;
            }
            & .card__text {
                position: relative;
                top: 30px;
                right: 65px;
            }
            & i {
                position: relative;
                top: 90px;
                left: 65px;
                font-size: 1.5em;
            }
        }
}
@mixin desktop-menu-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    h1 {
        grid-area: 1 / 1 / 1 / 4;
    }
    .menu__starter {
        grid-area: 2 / 1;      
    }
    .menu__main {
        grid-area: 2 / 2;    
    }
    .menu__dessert {
        grid-area: 2 / 3;    
    }
    .menu__command {
        margin-top: 50px;
        margin-bottom: 50px;
        grid-area: 3 / 2;
    }
}
@mixin little-mobile-menu-card {
    &__starter {

        & .menu__choice {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            font-size: 0.8em;
            height: 50px;

            & .box-fa-circle-check {
                height: 100px;
            }
        }
    }

    &__main {

        & .menu__choice {
            width: 95%;
            font-size: 0.8em;
            height: 50px;

            & .box-fa-circle-check {
                height: 100px;
            }
        }
    }

    &__dessert {

        & .menu__choice {
            width: 95%;
            font-size: 0.8em;
            height: 50px;

            & .box-fa-circle-check {
                height: 100px;
            }
        }
    }
    
}
