@import "button";
@import "effets";
@import "function";
@import "mixins";
@import "variables";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1 {
    font-family: shrikhand, impact, Arial, Helvetica, sans-serif;
}

h2,
h3,
p {
    font-family: roboto, impact, Helvetica, sans-serif;
}

header {
    & .menulink {
        & .fa-arrow-left {
            position: absolute;
            top: 25px;
            left: 25px;
            font-size: 150%;
        }

        &__ohmyfood {
            display: block;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 20px;
            padding-top: 20px;
        }

        &__img {
            width: 100%;
            height: 350px;
            object-fit: cover;
            margin-top: 20px;
        }

    }

    & .title__adress {
        background-color: #eaeaea;
        width: 100%;
        height: 50px;
        padding-bottom: 10px;
        padding-top: 1px;
        text-align: center;
        font-weight: 500;
        font-size: 1.3rem;
        box-shadow: inset 0em 5px 20px #cfcfcf;
        color: $font-color-grey;

        & .fa-location-dot {
            margin-right: 20px;
        }
    }
}


.discover {
    background-color: $font-color;
    text-align: center;
    padding: 5%;
    padding-bottom: 20%;

    &__title {
        font-size: 2.0rem;

    }

    &__description {
        margin-top: 5%;
        margin-bottom: 5%;
        font-weight: normal;
        font-size: 1.5rem;
        color: $font-color-grey;
    }

    &__btn {
        @include btn-command;
        font-size: 1.2rem;
    }
}

.utilisation {
    padding: 5%;
    padding-top: 2%;

    & .exploration {

        &__card {
            @include menu-block;
            overflow: inherit;
            height: auto;
            background-color: $font-color;
            color: $font-color-grey;

            &__list {
                @include number-list;
            }

            &:hover {
                @include hover-zoom;
                background-color: $primary-color-hover;
                color: $primary-color;
            }

            &:hover .card__text {
                color: black;
            }

            &:not(:hover) {
                @include over-dezoom;
            }
        }

        & i {
            margin-left: 0%;
            margin-right: 5%;
        }
    }
}

.restaurant {
    background-color: $font-color;
    padding: 5%;
    padding-top: 5%;

    .restaurant__title {
        font-size: 2.2em;
    }

    .restaurant-bloc__card {
        height: 300px;
        background-color: #fff;
        border-radius: 25px 25px 25px 25px;
        margin-bottom: 20px;
        line-height: 0.5rem;
        font-size: 1.2rem;
        box-shadow: 0px 5px 15px #cfcfcf;

        &:hover {
            box-shadow: 0px 10px 25px #cfcfcf;
            @include hover-zoom;
        }

        &:not(:hover) {
            @include over-dezoom;
        }

        .card__link {
            text-decoration: none;
            color: black;

            & .card__link--new {
                @include card-new
            }
        }

        .card__img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 25px 25px 0px 0px;
        }

        .card__text {
            margin-left: 20px;

            &--new {
                position: relative;
                bottom: 50px;
                margin-left: 20px;
            }
        }

        .card__heart {
            display: flex;
            flex-direction: column;

            .fa-heart {
                position: relative;
                left: 85%;
                bottom: 65px;
                width: 30px;
            }

            .fa-solid {
                width: 30px;
                position: relative;
                bottom: 95px;
                transition-duration: 400ms;
                transform: scaleY(0);
                transform-origin: 50% 10%;
                opacity: 0.5;
                font-size: 1.9rem;
                padding: 0%;
                margin: 0%;
                background: -webkit-radial-gradient($primary-color, $secondary-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .fa-regular {
                font-size: 1.9rem;
                width: 30px;

                &:hover {


                    +.fa-solid {
                        opacity: 1;
                        transform: scaleY(1);
                    }
                }
            }

        }
    }
}

.menu {
    position: relative;
    bottom: 60px;
    padding: 20px;
    background-color: $font-color;
    border-radius: 35px 35px 0px 0px;

    .menu__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        @media (min-width: map-get($breakpoints, desktop)) {
        width: 300%;
        }
        & h1 {
            letter-spacing: 1px;
            font-size: 2.2rem;
        }

        .card__heart {
            display: flex;
            flex-direction: column;
            height: 0px;
            position: relative;
            bottom: 15px;

            .fa-heart {
                position: relative;
                width: 30px;
            }

            .fa-solid {
                position: relative;
                bottom: 30px;
                transition-duration: 400ms;
                transform: scaleY(0);
                transform-origin: 0% 60%;
                opacity: 0;
                font-size: 1.9rem;
                padding-right: 1%;
                background: -webkit-radial-gradient($primary-color, $secondary-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .fa-regular {
                font-size: 1.9rem;
                width: 30px;

                &:hover {


                    +.fa-solid {
                        opacity: 1;
                        transform: scaleY(1);
                    }
                }
            }
        }

    }



    & b {
        position: sticky;
        left: 85px;
    }

    &__starter {
        & h2 {
            @include menu-border;
        }

        & .menu__choice {
            @include menu-block;
            animation-delay: 200ms;

            &:hover {
                @include hover-zoom;
            }

            &:not(:hover) {
                @include over-dezoom;
            }
        }
    }

    &__main {
        & h2 {
            @include menu-border;
        }

        & .menu__choice {
            @include menu-block;
            animation-delay: 400ms;

            &:hover {
                @include hover-zoom;
            }

            &:not(:hover) {
                @include over-dezoom;
            }
        }
    }

    &__dessert {
        & h2 {
            @include menu-border;
        }

        & .menu__choice {
            @include menu-block;
            animation-delay: 600ms;

            &:hover {
                @include hover-zoom;
            }

            &:not(:hover) {
                @include over-dezoom;
            }
        }
    }

    &__command {
        @include btn-command;
    }
}

.bottom {
    background-color: #353535;
    padding: 5%;
    padding-top: 7%;
    color: white;
    line-height: 0.8rem;

    .bottom__ohmyfood {
        width: 30%;
        filter: invert(100%);
    }

    & .fa-utensils {
        font-size: 1rem;
        margin-right: 15px;
    }

    & .fa-handshake-angle {
        font-size: 0.8rem;
        margin-right: 12px;
    }

    & a {
        color: #eaeaea;
        text-decoration: none;
    }
}

@media (min-width: map-get($breakpoints, desktop)) {

    header {
        @include desktop-header;
    }

    .exploration {
        @include desktop-exploration;
    }

    .restaurant-bloc {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        column-gap: 2em;
        justify-content: space-around;
    }

    .menu {
        @include desktop-menu-grid;
    }

    .bottom {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

@media (max-width: map-get($breakpoints-1, little-mobile)) {

    .exploration {
        .exploration__card {
            width: 270px;

            .exploration__card__list {
                position: relative;
                right: 22px;
            }

            i {
                position: relative;
                right: 20px;
            }

            .card__text {
                position: relative;
                right: 20px;
            }
        }
    }

    .menu {

        @include little-mobile-menu-card;
    }
}

@media screen and (min-width: map-get($breakpoints-2, min-tablet)) and (max-width: map-get($breakpoints-3, max-tablet)) {
    .discover {
        padding-bottom: 13%;
    }

    .restaurant-bloc {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        column-gap: 2em;
        justify-content: space-around;
    }

    .menu {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}